@model IEnumerable<FamilyTree.Presentation.Models.PersonViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <p class="site-title offset-4">@Html.ActionLink("My Family Tree", "Index", "Home")</p>
</div>
<div class="peopleList container offset-md-4">
    @foreach (var item in Model)
    {
        <div class=" row ">
            <div class="chip col-md-4">
                <img src="~/Content/images/tree.png" alt="Person" width="100px" height="96">
                <a href="@Url.Action("ShowFamilyTree", item)">@item.Name</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("body").css("background-color", "#fff3e6");
        });
    </script>
}