@model FamilyTree.Presentation.Models.PersonViewModel

<div class="container">
    <h2 class="selectedNodeName col-md-4 offset-md-3">@Model.Name's Family Tree</h2>
    @Html.Action("FamilyTreePartialView")
</div>



